<!--<ion-content>-->
<!--  <div class="cont">-->
<!--    <div class="haut">-->
<!--      <a routerLink="/folder"><ion-icon class="menu float-left"  src="assets/icon/home.svg"></ion-icon></a>-->
<!--      <div class="ion-text-center">-->
<!--        <img src="assets/min_logo.jpeg" alt="">-->
<!--      </div>-->
<!--      <h3 class="ion-text-center">Mes Commissions</h3>-->
<!--      <hr>-->
<!--    </div>-->

<!--    <ion-select placeholder="Type" [(ngModel)] = "type">-->
<!--      <ion-select-option value=" ">Type</ion-select-option>-->
<!--      <ion-select-option value="Depot">Depot</ion-select-option>-->
<!--      <ion-select-option value="Retrait">Retrait</ion-select-option>-->
<!--    </ion-select>-->
<!--    <ion-select placeholder="Du">-->
<!--    </ion-select>-->
<!--    <ion-select placeholder="Au">-->
<!--    </ion-select><br>-->
<!--    <table class="container text-center" id="my-table">-->
<!--      <thead class="thead-info">-->
<!--      <tr>-->
<!--        <th scope="col">Date</th>-->
<!--        <th scope="col">Type</th>-->
<!--        <th scope="col">Montant</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody *ngFor = "let u of all_users ">-->
<!--      <tr *ngFor = "let tr of u.typeTransactionAgences ">-->
<!--&lt;!&ndash;        <td *ngIf = "!tr.archiver  && tr.type === 'Depot' && (type === '' || tr.type === type )">{{ tr.transaction.dateDepot | date }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td *ngIf = "!tr.archiver  && tr.type === 'Retrait' && (type === '' || tr.type === type )">{{ tr.transaction.dateRetrait | date }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td *ngIf = "!tr.archiver  && (type === '' || tr.type === type )">{{ tr.type }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td *ngIf = "!tr.archiver  && (type === '' || tr.type === type )">{{ tr.part }}</td>&ndash;&gt;-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->

<!--    <div class="montant w-50">-->
<!--      <div class="total">-->
<!--        <span>Total</span>-->
<!--      </div>-->
<!--      <div class="somme">-->
<!--        <span> gettotal</span>-->
<!--      </div>-->
<!--    </div>-->


<!--  </div>-->

<!--  <ion-footer>-->

<!--    <ion-icon routerLink="/folder" class="ml-4 mr-5 float-left" src="assets/icon/home.svg"></ion-icon>-->

<!--    <ion-icon routerLink="/transactions" class="mr-5 float-left" src="assets/icon/transaction.svg"></ion-icon>-->

<!--    <ion-icon routerLink="/commissions" class="mr-5 float-left" src="assets/icon/commis.svg"></ion-icon>-->

<!--    <ion-icon routerLink="/calculateur" class="float-left" src="assets/icon/calculator.svg"></ion-icon>-->
<!--  </ion-footer>-->
<!--</ion-content>-->

<!--&lt;!&ndash;<ion-header>&ndash;&gt;-->
<!--&lt;!&ndash;  <ion-toolbar>&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-title>commission</ion-title>&ndash;&gt;-->
<!--&lt;!&ndash;  </ion-toolbar>&ndash;&gt;-->
<!--&lt;!&ndash;</ion-header>&ndash;&gt;-->

<!--&lt;!&ndash;<ion-content>&ndash;&gt;-->

<!--&lt;!&ndash;</ion-content>&ndash;&gt;-->
