ion-header{

  .ion-icon{
    margin-left: 50%;
    margin-right: 35%;
    display: block;
  }

}


ion-menu {
  --ion-background-color: #51BFD0;;
  --ion-text-color: var(--ion-color-primary-contrast);

  ion-toolbar {
    --background: var(--ion-color-primary);
  }

  ion-list {/* optional, but it needs when you use gradient as a background color.*/
    background: transparent;
  }
}



ion-content{
  ion-card{
    --min-height: 40px !important;
    --max-height: 40px !important;
    height: 110px !important;

    .card{
      margin-top: -70px;
    }
    .card-title{
      margin-top: -20px;
      color: #07AEEF;
    }
    .last-card{
      margin-top: -20px;
    }
  }
  ion-grid{
    margin-top: 50px !important;
  }
  ion-grid{

    margin-top: 40px !important;

  }
  ion-icon{
    color: #FA4A0C;
  }
}
.affiche{
  margin-left: 24%;
}

